{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="{% static "images/icons/favicon.png" %}" type="image/svg+xml">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link href="{% static "css/index.css" %}" rel="stylesheet">

</head>
<body>

<div class="container">
    {% include "article/post/includes/header.html" %}
    {% block content %}
    {% endblock %}
    {% include "article/post/includes/footer.html" %}
</div>
</body>
</html>