{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{{ form.media }}
{% block content %}

    <div class="container">
        <div class="hint">
            <p class="hint_warning">Warning</p>
            <p class="hint_text">Но действия представителей оппозиции неоднозначны и будут преданы
                социально-демократической
                анафеме. В рамках
                спецификации современных стандартов, стремящиеся вытеснить традиционное производство, нанотехнологии
                набирают популярность среди определенных слоев населения, а значит, должны быть заблокированы в рамках
                своих
                собственных рациональных ограничений. Приятно, граждане, наблюдать, как независимые государства указаны
                как
                претенденты на роль ключевых факторов.</p>
        </div>

        <div class="add_post_wrap">
            <div class="add_post_form__wrap">
                <form action="" method="POST" class="add_post_form_container" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_of_post.as_p }}
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}