@import url(./animations.css);
@import url(./variables.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./main.css);

.path {
    margin-bottom: 1rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.path span {
    margin-right: .6rem;
}

.path svg {
    width: .5rem;
    margin-right: .6rem;
}

.herro h4,
.path span,
.herro span,
.herro a {
    text-transform: none;
}

.herro {
    max-width: 100%;
    height: 41rem;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
}

.herro_detail {
    height: 51rem;
}

.herro_img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.herro_img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.herro_description {
    position: absolute;
    width: 100%;
    padding: 0 3rem 1.5rem;
    left: 0;
    bottom: 0;
}

.herro_description svg {
    width: .8rem;
}

.herro_sub-links a {
    display: inline-block;
    background-color: var(--black);
    padding: .2rem .3rem;
    margin-right: .5rem;
}

.herro_sub-links a:hover {
    background-color: var(--black-a42);
    color: var(--white-70);
}

.description_title {
    font-size: 2.75rem;
    margin-bottom: .8rem;
}

.detal_sos-links,
.herro_info-item,
.herro_info {
    display: flex;
    align-items: center;
}

.herro_info-item {
    margin-right: 1.5rem;
}

.herro_info-item svg,
.herro_info-item.date a,
.herro_info-item.date span,
.herro_info-item.date p {
    margin-right: .5rem;
}

.detal-descriptions {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detal_sos-links {
    margin-bottom: 2rem;
}

.detal_sos-links .fb {
    background-color: var(--fb);
}

.detal_sos-links .telegram {
    background-color: var(--telegram);
}

.detal_sos-links .p {
    background-color: var(--p);
}

.detal_sos-links .whatapp {
    background-color: var(--whatapp);
}

.detal_sos-links span {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin: .6rem .6rem .6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detal_sos-links span svg {
    width: 1rem;
}

.detal_sos-links span:last-child svg {
    width: 1.3rem;
}

.detal_sos-links span a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.descriptions {
    width: 100%; /*При добавлении FriendlyLink сделать ширину 50%*/
}

.description p {
    font-size: 1rem;
    line-height: 1.74;
    text-transform: none;
    margin-bottom: 1.5rem;
}

.description a {
    color: var(--brilliant-green-5e);
    text-transform: none;
    font-size: 1rem;
    line-height: 1.74;
}

.detal-links {
    width: 23.3rem;
    padding: 1.5rem;
}

.detal-links span {
    display: inline-block;
    margin-bottom: .8rem;
    font-size: .9rem;
    text-transform: none;
}

.detal-links li {
    margin-bottom: 1rem;
}

.tags a {
    border: 1px solid var(--white);
    padding: 2px 6px;
    margin-left: 4px;
}

.tags a:hover {
    background-color: var(--brilliant-green-5e);
    color: var(--white);
}

/*----------------------------------------------------------detail media 1440px----------------------------------------*/

@media (max-width: 1440px) {
    .sub-container {
        width: 90%;
    }
}

/*----------------------------------------------------------detail media 1024px----------------------------------------*/

@media (max-width: 1024px) {
    .sub-container {
        width: 90%;
    }
}

/*----------------------------------------------------------detail media 767px----------------------------------------*/

@media (max-width: 767px) {

    .sub-container {
        width: 90%;
    }

    .herro_img {
        height: auto;
    }

    .herro_description {
        bottom: 10px;
    }

    .description_title {
        font-size: 2rem;
    }

    .path span:last-child {
        margin: 0;
        font-size: 0.7rem;
        display: none;
    }
}

/*----------------------------------------------------------detail media 480px----------------------------------------*/

@media (max-width: 480px) {

    .path {
        padding: 0;
    }

    .herro_description {
        padding: 0 1rem 1rem;
    }

    .herro_sub-links {
        margin-bottom: 5px;
    }

    .herro_sub-links a {
        font-size: 10px;
    }

    .description_title {
        font-size: 1.2rem;
    }

    .btn_detail {
        font-size: 8px !important;
    }
}

/*----------------------------------------------------------detail media 410px----------------------------------------*/

@media (max-width: 410px) {

    .description_title {
        font-size: 1rem;
    }

    .herro_info-item {
        margin: 0;
    }
}

/*------------------------------------------------------detail media 320px-----------------------------------------*/
@media (max-width: 320px) {
    .herro_description {
        padding: 0 0.5rem 0.5rem;
        font-size: 0.8rem;
    }

    .btn_detail {
        font-size: 6px !important;
    }
}
