@import url(./variables.css);


*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    /*font-family: 'Open Sans', 'Open Sans Regular', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
    font-size: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

svg {
    fill: var(--white);
}

h4,
p,
a,
li,
span {
    color: var(--white);
    line-height: 1.4;
    font-size: 1.2rem;
}

a:hover {
    color: var(--brilliant-green);
}

.sub-container {
    max-width: 72.8rem;
    margin: 0 auto;
}

.hidden {
    display: none;
}

li.active_class a {
    color: var(--brilliant-green-5e);
}

a {
    transition: color 0.3s ease;
}

a:hover {
    color: var(--brilliant-green-5e);
}


/* Базовые стили контейнера */
.container {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

/* Медиазапросы для адаптивности */

/* Для экстра маленьких устройств (менее 480px) */
@media (max-width: 479px) {
    .container {
        max-width: 100%;
    }
}

/* Для маленьких устройств (от 480px до 767px) */
@media (min-width: 480px) and (max-width: 767px) {
    .container {
        max-width: 100%;
    }
}

/* Для средних устройств (от 768px до 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

/* Для больших устройств (от 992px до 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

/* Для экстра больших устройств (от 1200px до 1499px) */
@media (min-width: 1200px) and (max-width: 1440px) {
    .container {
        max-width: 1140px;
    }
}

/* Для ультрашироких устройств (от 1500px до 1679px) */
@media (min-width: 1441px) and (max-width: 1919px) {
    .container {
        max-width: 1400px;
    }
}


/* Для ультрашироких устройств (1920px и больше) */
@media (min-width: 1920px) {
    .container {
        max-width: 1440px;
    }
}