:root {
    --black-0: #000;
    --black-30: rgba(0, 0, 0, 0.56);
    --black-a42: #0D151D;
    --black: #212121;
    --white: #fff;
    --white-70: rgba(255, 255, 255, 0.7);
    --white-80: rgba(255, 255, 255, 0.8);
    --white-90: rgba(255, 255, 255, 0.9);
    --brilliant-green: #FF9F0A;
    --brilliant-green-5e: #FF9F0A ;
    --gray: #666;
    --gray-76: #767676;
    --gray-dark-3: rgba(255,255,255,.03);
    --fb: #516eab;
    --telegram: #29c5f6;
    --danger: #ca212a;
    --p: #ca212a;
    --whatapp: #7bbf6a;

    --background-color: #121D28;

    --language_selector_color: #94949C;
    --language_bg_color: #182940;
    --language_selected_color: #94949C29;
    --option_hover_color: #94949C1F;

    --language_border_color: #555;

    --latest_post__category: #94949C29;
    --popular_post__title_bg: #363a43;

    --form_bg: #f5f5f5;
    --form_border: #ddd;
    --form_input_border: #ccc;
    --form_button_submit: #FF9F0A;
    --form_button_submit_hover: #45a049;

    --mobile_header_height: 65px;
}